/* * {
    border: 1px dashed red;
} */

a:hover {
    color: yellow;
    text-decoration: underline;
}
.hero-img {
    background-image: url("/assets/images/matt-standing.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
   }