/* Hero background image */
.hero-img {
    background-image: url("/assets/images/matt-standing.png") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    
   }
   
  